<h1>About Jessica</h1>

<p>
  Jessica has been teaching private voice lessons since 2011, working primarily with teens. She has helped her students win firsts in state competitions, ready for auditions, and prepare for lead roles in musicals. Jessica has also taught recreational voice to young professionals and college students interested in cultivating their talents.
</p>

<!-- Performance Resume 2014 link-->

<p>
  While pursuing her Master’s degree in Voice Performance at the University of Washington, Jessica studied under Singing Voice Specialist Dr. Kari Ragan. Jessica sang the featured roles of Ida in Die Fledermaus, Suor Genovieffa in Suor Angelica, and Ms. Wordsworth in Albert Herring.
</p>

<p>
  Jessica has performed in Master Classes with renowned singers June Anderson and Isabel Leonard, and has worked with notable vocal coaches Philip Kelsey (of the Seattle Opera) and Joyce Fieldsend (formerly of the San Francisco Opera).
</p>

<p>
  Jessica has also spent significant time studying opera and performance in Italy: delving into the character of Susana in Le Nozze di Figaro while in Verona; and completing tutelage under Rosanna Straffi of the Conservatorio di Santa Cecilia in Rome, with a focus on Italian aria and art song repertoire.
</p>
