<h1>Practice and Policies</h1>

<h3>Practice</h3>
<p>
  Vocal production requires careful engagement of several muscle groups. Singers should consider the art of singing as being closely related to other athletic feats. This means you should practice on a regular basic, and be sure to warm-up before each session. There should be days where you really work the vocal mechanism, as well as easier "healing" days where you give your vocal chords a break.
</p>
<p>
  New musicians, with regular practice, should see small results quickly (within 3-6 weeks). More profound change can be noticed in 12-16 weeks. I have many students who have started singing from square one, and with regular practice, sounded like professional musicians after just a year of private weekly lessons.
</p>
<p>
  Ultimately, the speed at which you progress is up to you. If you are concerned that you're not making strides quickly enough, please take some time to discuss this with me so that we can determine the best next steps.
</p>

<hr>

<h3>Song Literature and Book Policies</h3>
<p>
  At your first lesson, and throughout your time with me, I will suggest songs that I believe are appropriate for your current level and will help your voice grow. Buying single pieces of music at a time can often be more much expensive than buying a whole collection of songs within a single book. You are always welcome to buy only the piece I have suggested, or I can recommend a collection containing that piece and others. If a collection is used, I will typically try to find several pieces that are appropriate for your voice out of it. Not every piece in each collection is appropriate for every singer, so RARELY will a singer learn every piece out of any collection.
</p>
 <p>
  Students can expect to pay between $15-$40 on new music per quarter. The price variance is mostly based on how quickly the student learns new music, new technical skills, and his/her attention span. Sometimes I will give partial copies of music to students to practice. This should be considered a loan, just until the music you purchased comes in. If a student fails to purchase assigned music within 2 weeks, I will purchase the music personally and add the bill to next month's tuition.
</p>
<p>
  <b>It is illegal to copy music without the permission of the publisher.</b> If there is a specific piece of music you would like to learn, please bring a purchased copy of it to your lessons.
</p>
