<h2>Practice and Policies</h2>
<p>
  Soko radicchio bunya nuts gram dulse silver beet parsnip napa cabbage lotus root sea lettuce brussels sprout cabbage.
</p>
<p>
  Catsear cauliflower garbanzo yarrow salsify chicory garlic bell pepper napa cabbage lettuce tomato kale arugula melon sierra leone bologi rutabaga tigernut. Sea lettuce gumbo grape kale kombu cauliflower salsify kohlrabi okra sea lettuce broccoli celery lotus root carrot winter purslane turnip greens garlic.
</p>
<p>
  Jícama garlic courgette coriander radicchio plantain scallion cauliflower fava bean desert raisin spring onion chicory bunya nuts. Grape wattle seed kombu beetroot horseradish carrot squash brussels sprout chard. Sea lettuce water spinach gram fava bean leek dandelion silver beet eggplant bush tomato.
</p>
<div style="text-align:center">
  <!-- add link to studio policies PDF below -->
  <button class="btn btn-info"><a href="">Full Studio Policies (.PDF)</a></button>
</div>
