.navbar {
  background-color: slategray;
}

.navbar-nav {
    flex-direction: row;
}

.nav>li {
  float: right;
  padding-left: 25px;
  font-size: larger;
}

a {
  color: white;
}

a:hover {
  color: orange;
}

#username-display {
  color: yellow;
}
